.text {
	color: var(--text);
}

.accent {
	color: var(--accent);
}

.info {
	color: var(--info-light);
}

.gaming {
	color: var(--gaming);
}

.watching {
	color: var(--watching);
}

.league {
	color: var(--league);
	stroke: var(--league);
}

.positive {
	color: var(--positive);
}

.negative {
	color: var(--negative);
}

.twitch {
	color: var(--twitch);
	transition: color 0.3s ease-in-out;
}

.gold {
	color: var(--gold)
}

.silver {
	color: var(--silver)
}

.bronze {
	color: var(--bronze)
}