.home {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	overflow: hidden;
	background-image: url("../../../assets/images/QuizAppBgc.png");
	background-size: cover;
	z-index: 1;
	position: relative;
}

.home::before {
	content: "";
	position: absolute;
	inset: 0;
	background: rgba(0, 0, 0, 0.25);
	z-index: 0;
}

.logoWrapper {
	height: 15%;
	width: 100%;
	z-index: 1;
	position: relative;
}

.mainContent {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 60%;
	padding: vars.$spacing-md vars.$spacing-2xl vars.$spacing-2xl
		vars.$spacing-2xl;
	gap: vars.$spacing-md;
	z-index: 1;
	position: relative;
}

.categoriesUnlocked {
	flex: 2;
	border: vars.$border;
	border-radius: 20px;
	z-index: 1;
	position: relative;
}

.startButton {
	flex: 4;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: vars.$spacing-xl vars.$spacing-sm 0 vars.$spacing-sm;
	z-index: 1;
	position: relative;
}

.categoriesLocked {
	flex: 2;
	border: vars.$border;
	border-radius: vars.$radius-md;
	z-index: 1;
	position: relative;
}

.categoryEnhancerContainer {
	width: 100%;
	height: 25%;
	z-index: 1;
	position: relative;
}
