.home {
	aspect-ratio: 16 / 9;
	max-height: 100vh;
	max-width: 100vw;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: vars.$spacing-xl;
	flex-wrap: wrap;
	padding: vars.$spacing-2xl;
}

.categoriesUnlocked {
	flex: 1;
	border: 4px solid vars.$primary-color;
	border-radius: vars.$radius-md;
	padding: vars.$spacing-md;
	height: 70%;
}

.startButton {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.categoriesLocked {
	flex: 1;
	border: 4px solid vars.$primary-color;
	border-radius: vars.$radius-md;
	padding: vars.$spacing-md;
	height: 70%;
}

.categoryEnhancerContainer {
	width: 100%;
	height: 30%;
	border: 4px solid vars.$primary-color;
	border-radius: vars.$radius-md;
	padding: vars.$spacing-md;
}
