.home {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	padding: 5%;
	gap: 40px;
	background-image: radial-gradient(
		vars.$brand-100 0%,
		vars.$brand-200 40%,
		vars.$brand-400 80%
	);
}
