.categoryEnhancer {
	padding: vars.$spacing-lg;
	background-color: vars.$background-secondary;
	border: vars.$border;
	border-radius: vars.$radius-md;
	height: 100%;
}

.categoryList {
	list-style: none;
	padding: 0;
	display: flex;
	flex-direction: row;
	gap: vars.$spacing-md;
}

.categoryItem {
	flex: 1;
	border: vars.$border;
	padding: vars.$spacing-md;
	display: flex;
	flex-direction: column;
	gap: vars.$spacing-sm;
	border-radius: vars.$radius-md;
	background-color: vars.$background-tertiary;
}
