.spacer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100vw;
	height: 2px;
	background: linear-gradient(
		to right,
		transparent,
		vars.$background-tertiary,
		vars.$card-unlocked-bg,
		vars.$background-tertiary,
		transparent
	);
}
