.spacer {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 95%;
	height: 2px;
}

.decorGem {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 20px;
	height: 20px;
	transform: translate(-50%, -50%) rotate(45deg);
	background-color: vars.$text-color;
	border: 5px solid vars.$background-tertiary;
	border-radius: 5px;
}
