.spacerWrapper {
	position: relative;
	width: 95%;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.spacerLeft,
.spacerRight {
	flex: 1;
	height: 2px;
	background: linear-gradient(
		90deg,
		transparent 0%,
		vars.$background-tertiary 25%,
		vars.$card-unlocked-bg 50%,
		vars.$background-tertiary 75%,
		transparent 100%
	);
}

.decorGem {
	width: clamp(9px, 2%, 20px);
	aspect-ratio: 1 / 1;
	background-color: vars.$text-color;
	border-radius: 2px;
	transform: rotate(45deg);
	margin: 0 10px;
}
