:root {
	--accent-lighter: #dd92ae;
	--accent-light: #cf638b;
	--accent: #b53866;
	--accent-dark: #8c2b4f;
	--accent-darker: #5e1d35;
	--bgc-primary: #0b0b09;
	--bgc-secondary: #131311;
	--bgc-tertiary: #1b1b19;
	--bgc-quaternary: #2a2a28;
	--text: #eaeaea;
	--text-secondary: #818181;
	--positive: #37ff8b;
	--info: #82d4bb;
	--font-nunito: "Nunito", sans-serif;
}

@font-face {
	font-family: "Nunito";
	src: url("../assets/fonts/Nunito/Nunito-VariableFont_wght.ttf")
		format("truetype");
	font-weight: 100 900;
}

.scrollbar-thin {
	scrollbar-width: thin;
	scrollbar-color: var(--accent) transparent;
}

.scrollbar-thin::-webkit-scrollbar-button {
	display: none;
}
