:root {
	--accent: #f75891;
	--accent-dark: #81324d;
	--accent-light: #f1a1be;
	--bgc-primary: #0b0b09;
	--bgc-secondary: #161613;
	--bgc-tertiary: #20201d;
	--text: #eaeaea;
	--positive: #37ff8b;
	--info: #45f0df;
	--font-nunito: "Nunito", sans-serif;
}

@font-face {
	font-family: "Nunito";
	src: url("../assets/fonts/Nunito/Nunito-VariableFont_wght.ttf")
		format("truetype");
	font-weight: 100 900;
}
