.setSelector {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.setList {
	display: flex;
	flex-direction: row;
	width: 100%;
	flex-wrap: wrap;
	gap: vars.$spacing-sm;
}

.setItem {
	display: flex;
	flex-direction: row;
	width: 200px;
	height: 200px;
	border: vars.$border;
	align-items: center;
	justify-content: center;
	list-style: none;
}

.setDetails {
	display: flex;
	flex-direction: column;

	li {
		list-style: none;
	}
}
