.quiz {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	background-image: url(../../../assets/images/bgcplaceholder.png);
	background-size: cover;
	background-position: center;
}

.mainContentWrapper {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 100%;
	height: 100%;
	padding: vars.$spacing-2xl vars.$spacing-xl;
	align-items: center;
	justify-content: center;
	gap: vars.$spacing-xl;
}

.questionWrapper {
	display: flex;
	flex-direction: row;
	width: 100%;
	flex: 9;
	gap: vars.$spacing-md;
	min-height: 0;
}

.questionDisplay {
	display: flex;
	flex-direction: column;
	width: 75%;
	height: 100%;
	gap: vars.$spacing-md;
}

.mediaWrapper {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: vars.$radius-xl;
	padding: vars.$spacing-xs;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	padding: vars.$spacing-xs;
	border: 2px solid vars.$brand-50;
	background: linear-gradient(
		to bottom,
		rgba(255, 255, 255, 0.7),
		rgba(255, 255, 255, 0.5)
	);
	box-shadow: vars.$box-shadow-xs;
	
	.mediaDisplay {
		position: relative;
		height: 100%;
		width: 100%;
		min-width: 0;
		min-height: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		clip-path: inset(0 round vars.$radius-xl);
	}

	.mediaDisplay img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.answerForm {
	display: flex;
	width: 25%;
	height: 100%;
}

.answerSuggestions {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
	border-radius: vars.$radius-md;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	padding: vars.$spacing-xs;
	border: 2px solid vars.$brand-50;
	background: linear-gradient(
		to bottom,
		rgba(255, 255, 255, 0.7),
		rgba(255, 255, 255, 0.5)
	);
	box-shadow: vars.$box-shadow-xs;
	h3 {
		text-align: center;
		color: vars.$text-color-dark;
	}
}

.suggestionsList {
	height: 100%;
	width: 100%;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	scrollbar-width: none;
	gap: vars.$spacing-sm;
	padding: vars.$spacing-sm;

	&::-webkit-scrollbar {
		display: none;
	}
}

.suggestionItem {
	width: 100%;
	min-height: calc(100% / 8 - 7 / 8 * vars.$spacing-sm);
	display: flex;
	align-items: flex-start;
	justify-content: center;
	border-radius: vars.$radius-md;
	padding: vars.$spacing-sm;
	box-shadow: vars.$box-shadow-xs;

	.submitInput {
		font-size: vars.$font-md;
		display: block;
		color: vars.$text-color-dark;
		width: 100%;
		height: 100%;
		border: none;
		background-color: transparent;
	}
	&:hover {
		background-color: rgba(vars.$brand-50, 0.5);
	}
}

.searchInput {
	cursor: default;
	width: calc(100% - vars.$spacing-sm * 2);
	background-color: rgba(vars.$brand-50, 0.4);
	box-shadow:
		0 0 2px rgba(0, 0, 0, 0.5),
		0 0 0 2px transparent;
	border-radius: vars.$radius-max;
	border: none;
	outline: none;
	padding: vars.$spacing-sm;
}
