.setDisplayWrapper {
	height: 100%;
	width: 100%;
	overflow-y: auto;
	scrollbar-width: none;
}

.setsDisplayHeader {
	padding: vars.$spacing-sm;
	border-bottom: 1px solid vars.$text-color;
	border-radius: 0 0 10px 10px;
	margin-bottom: vars.$spacing-md;
	display: flex;
	align-items: center;
	justify-content: center;
	h3 {
		margin: 0;
		font-size: vars.$font-md;
		color: vars.$text-color;
	}
}

.setsList {
	list-style: none;
	padding: 0;
	display: flex;
	flex-direction: column;
	gap: vars.$spacing-md;
}

.set {
	position: relative;
	border: vars.$border;
	padding: vars.$spacing-md;
	display: flex;
	flex-direction: row;
	gap: vars.$spacing-sm;
	border-radius: vars.$radius-md;
	background-color: vars.$card-unlocked-bg;

	&:hover {
		background-color: vars.$background-teritary;
	}
}

.unlockedSet {
	background-color: vars.$card-unlocked-bg;
	h4 {
		color: vars.$text-color-dark;
	}
}

.lockedSet {
	background-color: vars.$card-locked-bg;
	h4 {
		color: vars.$text-color;
	}
}

.addSetButton {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.bottomGradient {
	position: sticky;
	bottom: -3px;
	height: 64px;
	background: linear-gradient(transparent, vars.$background-basic 80%);
	pointer-events: none;
}

.imgWrapper {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-end;

	img {
		width: 24px;
		height: 24px;
	}
}
