.startQuizButton {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	flex: 3;
	height: 100%;
	padding: 40px;
}

.titleText {
	color: vars.$brand-600;
	flex: 2;
	display: flex;
	align-items: center;
	justify-content: center;
}

.startButtonLink {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	text-decoration: none;
	cursor: default;
}

.inner {
	width: 400px;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: vars.$text-color-dark;
	background-color: vars.$accent-color;
	border-radius: vars.$radius-lg;
	font-size: 1.5rem;
	box-shadow: vars.$box-shadow-sm;

	&:hover {
		background-color: vars.$accent-color-secondary;
	}
}
