@use "sass:color";

$text-color: #fbdaf5;
$text-color-dark: #412946;

$background-basic: #2a1b34;
$background-secondary: #573a5e;
$background-teritary: #8b5072;

$card-unlocked-bg: #f7b9c6;
$card-locked-bg: #413252;

$upgrade-button-bg: #8d538a;
$upgrade-exp-bar-added-bg: linear-gradient(
	#ebf7ed 0%,
	#ebf7ed 45%,
	#bce1e4 45%,
	#bce1e4 55%,
	#9cd0db 55%,
	#9cd0db 100%
);
$upgrade-exp-bar-missing-bg: linear-gradient(
	#f8aad2 0%,
	#f8aad2 45%,
	#53365c 45%,
	#53365c 55%,
	#1d142e 55%,
	#1d142e 100%
);

$border: 1px solid #956b94;

// FONTS
@font-face {
	font-family: "Roboto";
	src: url("../assets/fonts/Roboto-VariableFont_wdth\,wght.ttf")
		format("truetype");
}

$font-main: "Roboto", sans-serif;
$font-secondary: "Roboto", sans-serif;

$font-xs: 12px;
$font-sm: 14px;
$font-md: 16px;
$font-lg: 18px;
$font-xl: 20px;
$font-2xl: 24px;
$font-3xl: 30px;
$font-4xl: 36px;
$font-5xl: 48px;
$font-6xl: 60px;
$font-7xl: 72px;
$font-8xl: 96px;
$font-9xl: 128px;

// SPACING
$spacing-2xs: 4px;
$spacing-xs: 8px;
$spacing-sm: 12px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 32px;
$spacing-2xl: 48px;
$spacing-3xl: 64px;
$spacing-4xl: 96px;
$spacing-5xl: 128px;

$radius-md: 12px;
