@use "sass:color";

// MAIN COLORS

$primary-color: #f7374f;
$secondary-color: #566d78; // #F7F036 #36BAF7 #332829 #36F75E #5AA269 #36F7A0 #56F736

// TEXT & BACKGROUND COLORS

$background-basic: #2c2c2c;
$background-secondary: #522546;
$background-teritary: #88304e;

$text-color: #efefef;
$text-color-alt: #88304e;

$alert-color: #e26ee5;

// Category colors

$category-color-1: #f7374f;
$category-color-2: #36baf7;
$category-color-3: #5aa269;
$category-color-4: #36f7a0;
$category-color-5: #36f75e;
$category-color-6: #56f736;

// FONTS
@font-face {
	font-family: "Roboto";
	src: url("../assets/fonts/Roboto-VariableFont_wdth\,wght.ttf")
		format("truetype");
}

$font-main: "Roboto", sans-serif;
$font-secondary: "Roboto", sans-serif;

$font-xs: 12px;
$font-sm: 14px;
$font-md: 16px;
$font-lg: 18px;
$font-xl: 20px;
$font-2xl: 24px;
$font-3xl: 30px;
$font-4xl: 36px;
$font-5xl: 48px;
$font-6xl: 60px;
$font-7xl: 72px;
$font-8xl: 96px;
$font-9xl: 128px;

// SPACING
$spacing-2xs: 4px;
$spacing-xs: 8px;
$spacing-sm: 12px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 32px;
$spacing-2xl: 48px;
$spacing-3xl: 64px;
$spacing-4xl: 96px;
$spacing-5xl: 128px;

$radius-md: 12px;
